{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Using pmemcheck
{{template "tocLongText" .}}
A C++ program using PMDK's libpmemobj is shown, but with several common
bugs in the code.  This example shows how to use pmemcheck to identify and fix
the bugs.
<br><br>
This example is intended for C++ programmers.
{{template "tocEntryEnd" .}}
