{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Mapping Persistent Memory
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example shows how persistent memory is mapped
into an application using the <code>mmap()</code>
system call on Linux.  This example is recommended reading
for everyone since all the other examples in this workshop
build on this basic concept.
<br><br>
If your C coding skills are rusty -- <b>don't worry!</b>
We tell you everything you need to know to get
a basic <code>mmap()</code> program running.
{{template "tocEntryEnd" .}}
