{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
The libpmemkv Key-Value Store
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example shows a high level API provided
in multiple languages by libpmemkv.  This example
shows the concept of a persistent key-value store
that is built on top of lower-level libraries.  Reading
through this example is recommended for everyone since
it provides an overview of how the most common libraries
are used together.
<br><br>
This example uses the C++ language bindings for
libpmemkv, but you don't need to know C++
to understand it.
{{template "tocEntryEnd" .}}
