{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Java LLPL Examples
{{template "tocLongText" .}}
For advanced Java programmers who want low-level
access to persistent memory, this example shows
how to use the Low-Level Persistsnc Library (LLPL).
{{template "tocEntryEnd" .}}
