{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
A C++ Word Frequency Count Program
{{template "tocLongText" .}}
This example takes the word frequency count
problem solved in C by the previous example, and
writes a C++ version.
<br><br>
Some C++ experience is assumed for this example.
For persistent memory hacking in C++, this example provides a good
starting point.
{{template "tocEntryEnd" .}}
