{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Basic Persistent Memory Transactions
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example introduces the ideas of
persistent memory transactions, used to
maintain consistent data structures in
persistent memory even in the face of
a program or system crash.
We recommend that everyone look through this
example to learn about the transactions that
are built on it many other examples.
<br><br>
This example uses the C++ language bindings for
libpmemobj, but extensive knowledge of C++ is
not required to understand it.
{{template "tocEntryEnd" .}}
