{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Using pmem as Volatile Memory
{{template "tocLongText" .}}
A common use case for pesistent memory is to use it as a large pool,
cheaper than DRAM, and ignore the fact it is persistent.  This <i>volatile</i>
usage is supported by the <b>libmemkind</b> library, described in this
example.
<br><br>
This example is intended for C programmers.
{{template "tocEntryEnd" .}}
