<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>pmem Workshop Login</title>
		<link rel="shortcut icon" href="/img/favicon.ico">
		<link rel="stylesheet" href="/css/webhackathon.css">
	</head>
	<body>
		<section class="top">
			<h1>pmem Workshop Login</h1>
			<p class="login">
			{{.}}
			<p>
			<form class="login" method="post" onsubmit="this.js_enabled.value=1;return true;">
			<input type="hidden" name="js_enabled" value="0">
			<div>
				<label for="user"><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="user" required>
				<label for="passwd"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="passwd" required>
				<button type="submit">Login</button>
				<br><br><hr><br><br>
				<a class="smallcentered" href="/request">Request Access</a>
			</div>
			</form>
		</section>
	</body>
</html>
