{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Low-Level Persistent Memory Hacking
{{template "tocLongText" .}}
This example is for programmers who want <b>raw</b>
access to persistent memory.  Instead of the
allocation, transactions, and other features of the
high-level PMDK APIs, this example focused on how
the hardware works and the low-level responsibilities
of an application using persistent memory.
<br><br>
If you are interested in raw access to pesistent memory
and want to handle everything else yourself, this example
is for you.  C programming experience recommended.
{{template "tocEntryEnd" .}}
