{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
Converting a C Program for Persistent Memory
{{template "tocLongText" .}}
In this example, we start by writing a simple C
program to solve a basic problem.  We then enhance
the program to be multi-threaded.  Finally, we
change the program to use persistent memory through
the libpmemobj library in PMDK.
<br><br>
C and C++ programmers will get the most out of this example.
For persistent memory hacking in C, this example provides a good
starting point.
{{template "tocEntryEnd" .}}
