<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Example {{.Ex}}</title>
		<link rel="shortcut icon" href="/img/favicon.ico">
		<link rel="stylesheet" href="/css/webhackathon.css">
		<script src="/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery.stickybits.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/ace-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/examples.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="menu">
			<div class="menu"></div>
			<div class="menu"></div>
			<div class="menu"></div>
			<div id="dropdown">
				<a href="/examples/">List&nbsp;of&nbsp;Examples</a>
				<a href="/repo/slides.pdf" target="_new">Background&nbsp;Slides</a>
				<a href="/repo/" target="_new">Browse&nbsp;Your&nbsp;Repo&nbsp;Clone</a>
				<a href="/shell/?ex={{.Ex}}" target="_new">Shell&nbsp;Window</a>
				<a href="/logout/">Logout {{.User}}</a>
			</div>
		</div>
