			<p class="run">
			<button type="button" class="run" id="run{{.Etab}}">Click&nbsp;to&nbsp;run&nbsp;commands</button>
			<p>
			<div class="rtabs">
				<input type="radio" name="rtabs{{.Etab}}" id="rtabs{{.Etab}}" checked="checked">
				<label for="rtabs{{.Etab}}">Run&nbsp;results</label>
				<div class="rtab">
<pre id="run{{.Etab}}"><font style="color:#404040">Click button above to run commands</font></pre>
				</div>
				<div id="cmd{{.Etab}}" class="cmd">{{.Command}}</div>
			</div>
